<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Quản lý đơn hàng</h1>

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Danh sách đơn hàng</h6>
    </div>
    <div class="card-body">
      <div>
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Tên khách hàng</th>
              <th>Tổng giá (VND)</th>
              <th>Ngày tạo</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% bills.map(item => {%>
            <tr>
              <% if(item.idCustomer) { %>
              <% if(item.idCustomer.name) {%>
              <td> <%= item.idCustomer.name %></td>
              <%} else {%> <td style="font-style: initial;"> Chưa cập nhật</td> <%}%> 
              <% } else {%>
              <td style="font-style: initial;"> Chưa cập nhật</td>
              <%}%>
              <td class="total"><%= item.total %></td>
              <td class="date"><%= item.date %></td>
              <td> <a href="/bill-detail?idBill=<%= item._id%>">Chi tiết</a></td>
            </tr>
            <%})%>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!-- /.container-fluid -->

<script type="text/javascript">
  //parse string to VND
  const handleCurrency = (number) => {
      var n = number.split('').reverse().join("");
    var n2 = n.replace(/\d\d\d(?!$)/g, "$&.");
    return n2.split('').reverse().join('') + ' đ';
    // return parseFloat(number).toFixed(1).replace(/\d(?=(\d{3})+\.)/g, '$&,');
  }

  //parse VND to string
  const parseCurrency = (string) => {
    return parseFloat(string.replace(',', ''))
  }

  const total = document.getElementsByClassName('total')

for (let index = 0; index < total.length; index++) {
  document.getElementsByClassName('total')[index].innerText = handleCurrency(document.getElementsByClassName('total')[index].innerText)
}

const date = document.getElementsByClassName('date');
for (let index = 0; index < date.length; index++) {
  document.getElementsByClassName('date')[index].innerText = new Date(document.getElementsByClassName('date')[index].innerText).toLocaleDateString()
}

</script>