
<link href="css/product.css" rel="stylesheet">


<!-- /.container-fluid -->

<!-- <h1 class="h3 mb-4 text-gray-800"><a href="javascript:history.back()"><i class="fas fa-arrow-left"></i></a> Chỉnh sửa sản phẩm - <%= product && product.name %></h1> -->
<h1 class="h3 mb-4 text-gray-800"><a href="/product"><i class="fas fa-arrow-left"></i></a> Chỉnh sửa sản phẩm - <%= product && product.name %></h1>
  <%- include('../elements/product-form.ejs', {product: product}); %>

  <script type="text/javascript">

  const handleSubmit = () => {
    if (!validateForm()) {
      console.log("on validate")
      return;
    }

    const name = $("#name").val();
    const price = $("#price").val();
    const description = $("#description").val();
    const idTypeProduct = $("#idTypeProduct").val();
    const idOrigin = $("#idOrigin").val();
    const img = $("#img").val();
  
    const idProduct = "<%= product._id%>"
    // const idProduct = `${JSON.parse(productData)._id}`
    
    const product = { name, price, description, idTypeProduct, idOrigin, img , idProduct}

    console.log("submit: ", product);

    const modal = $('#inforModal');

    $.ajax({
      url: "/product-edit",
      type: "put",
      data: JSON.stringify(product),
      contentType: "application/json; charset=utf-8",
      dataType: "json"
    })
      .done(function (result) {
        console.log("done!", result)
        const { isSuccess, message } = result;
        // open info modal
        // modal.find('[name=info-modal-message]').val(message);
        // document.getElementById('info-modal-message').innerHTML = message;
        // modal.modal('show');

        location.reload()
      })
      .fail(function (result) {
        console.log("err: ", result)
        const { message } = JSON.parse(result.responseText)

        document.getElementById('info-modal-message').innerHTML = message;
        modal.modal('show');
      });
    
  }

      const GoBackWithRefresh = (event) => {
      if ('referrer' in document) {
        window.location = document.referrer;
      /* OR */
      //location.replace(document.referrer);
      } else {
        window.history.back();
    }
  }

  </script>