 <!-- Begin Page Content -->
 <div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800">Đây là trang chi tiết nhân viên</h1>

  </div>
  <!-- /.container-fluid -->
